body {
  margin: 0 auto;
  padding: 0;
  width: 1600px;
  position: relative;

  font-family: "Raleway", "Tahoma", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 200px;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: none;
}

.main-logo {
  display: block;
  margin: 0;
  padding: 25px 0;
  width: 200px;
  height: 30px;
  text-align: center;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #000000;
}

.main-logo:hover {
  cursor: pointer;
}

.menu-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 28px;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}

.menu-button:hover {
  opacity: 0.5;
}

.menu-button:active {
  opacity: 0.2;
}

.menu {
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 168px;
  min-height: 832px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(13, 16, 19, 0.96);
}

.menu ul {
  margin: 0;
  margin-left: 298px;
  padding: 0;

  list-style: none;
}

.menu a {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #626262;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu a:hover {
  color: #ffffff;

  background: linear-gradient(to right, #ffffff, #ffffff 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 3px 3px;
}

.close-button {
  position: absolute;
  right: 189px;
  top: 89px;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background: none;
  border: none;
}

.close-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.close-button:active {
  cursor: pointer;
  opacity: 0.2;
}

.close-button::before, .close-button::after {
  content: "";

  position: absolute;
  left: 33px;
  bottom: 21px;
  width: 4px;
  height: 50px;

  background-color: #ffffff;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.big-slider {
  margin: 0 auto;
  padding: 0;
  width: 1600px;

  background-color: #acb0b5;
}

.big-slider ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.big-slider li {
  margin: 0;
  padding: 0;
  height: 1000px;
}

.about {
  margin: 0;
  margin-bottom: 93px;
  padding: 0;
  padding-top: 74px;
}

.about p {
  margin-left: auto;
  margin-right: auto;
  width: 965px;
  text-align: center;
}

.about-title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 60px;
  line-height: 72px;
  font-weight: 200;
}

.about-title b {
  font-weight: 700;
}

.about-conditions {
  margin-top: 31px;

  line-height: 24px;
  font-weight: 600;
}

.about-conditions:after {
  content: "";

  display: block;
  width: 80px;
  height: 2px;
  margin: 42px auto 0;

  background-color: #000000;
}

.about-text {
  margin-top: 56px;
  padding-left: 45px;
}

.about-text:last-of-type {
  margin-top: 30px;
}

.small-slider {
  margin: 0;
  padding: 0;
  height: 650px;

  background-color: #ffe9e2;
}

.small-slider ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.small-slider li {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.small-slider li::after {
  content: "";

  display: block;
  margin: 0;
  padding: 0;
  width: 798px;
  height: 650px;

  background-image: url("../img/small-slide-1.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.small-slider .quote {
  margin: 0;
  padding: 0;
  padding-left: 100px;
  padding-top: 130px;
  width: 700px;

  font-size: 36px;
  line-height: 48px;
}

.small-slider blockquote {
  margin: 0;
  padding: 0;
  width: 580px;

  font-weight: 700;
}

.small-slider .source {
  margin: 0;
  padding: 0;
  margin-top: 48px;

  font-weight: 300;
}

.reasons {
  margin: 0;
  padding: 125px 100px 140px;
}

.reasons h2 {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.reasons h2::after {
  content: "";

  display: block;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  width: 80px;
  height: 2px;

  background-color: #000000;
}

.reasons ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 98px;
  padding: 0;

  list-style: none;
}

.reasons li {
  margin: 0;
  margin-top: -1px;
  padding: 40px 50px 0;
  width: 598px;
  height: 247px;

  border: 1px solid #eae9e7;
}

.reasons li:first-of-type,
.reasons li:nth-of-type(2) {
  margin-top: 0;
}

.reasons li:nth-of-type(2n) {
  margin-left: -1px;
  padding-left: 67px;
  width: 582px;
}

.reasons h3 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons blockquote {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.reasons .source {
  margin: 0;
  margin-top: 30px;
  padding: 0;

  font-weight: 400;
  font-style: italic;
}

.reasons-button {
  display: block;
  margin: 63px auto 0;
  padding: 13px 0;
  width: 276px;
  text-align: center;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  border: 2px solid #000000;
  border-radius: 4px;
}

.quote-of-the-day {
  margin: 0;
  padding: 0;
  padding-top: 192px;
  width: 1600px;
  height: 468px;

  color: #ffffff;

  background-color: #464557;
  background-image: url("../img/quote-of-the-day.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.quote-of-the-day p {
  margin: 0 auto;
  padding: 0;
  width: 850px;
  text-align: center;

  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}

.quote-of-the-day .source {
  margin-top: 64px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.quote-of-the-day a {
  color: #ffffff;
  text-decoration: underline;
}

.posters {
  margin: 0;
  padding: 96px 100px 120px;

  background-color: #f2f4f5;

}

.posters h2 {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-transform: capitalize;
}

.posters h2::after {
  content: "";

  display: block;
  margin: 0;
  margin-top: 33px;
  padding: 0;
  width: 80px;
  height: 2px;

  background-color: #000000;
}

.posters-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 99px;
  padding: 0;
}

.small-posters-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 740px;
}

.poster-big {
  margin-right: 100px;
  width: 560px;
  height: 760px;
}

.poster-medium {
  margin-bottom: 50px;
  width: 740px;
  height: 370px;
}

.poster-small {
  width: 330px;
  height: 340px;
}

.posters .hover-elements {
  display: none;
  margin: 0;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.poster-big .hover-elements {
  margin-top: -64px;
  padding: 0 36px;
}

.poster-medium .hover-elements {
  margin-top: -83px;
  padding: 0 26px 0 46px;
}

.poster-small .hover-elements {
  margin-top: -50px;
  padding: 0 13px 0 16px;
}

.hover-elements a {
  color: #ffffff;
}

.hover-elements .share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;

  font-size: 15px;
}

.hover-elements .share::after {
  content: "";

  display: block;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 20px;

  background-image: url("../img/sprites.png");
  background-position: -245px 0;
  background-repeat: no-repeat;
}

.poster:hover {
  box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.43);
}

.poster:hover .hover-elements {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.posters-button {
  display: block;
  margin: 100px auto 0;
  padding: 13px 0;
  width: 276px;
  text-align: center;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  border: 2px solid #000000;
  border-radius: 4px;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 115px 100px 81px;

  font-family: "Montserrat", "Tahoma", sans-serif;
}

.bottom-nav h3 {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.bottom-nav ul {
  margin: 0;
  margin-top: 38px;
  padding: 0;

  list-style: none;
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.bottom-nav li {
  margin: 0;
  padding: 0;
}

.bottom-nav a {
  color: #000000;
}

.bottom-nav p,
.bottom-nav label,
.bottom-nav input[type="email"] {
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.contact p {
  margin: 0;
  margin-top: 38px;
  padding: 0;
}

.contact p:last-child {
  margin-top: 34px;
}

.subscribe p {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  line-height: 19px;
}

.bottom-nav input[type="email"] {
  margin: 0;
  margin-top: 34px;
  padding: 0;
  padding-left: 18px;
  width: 320px;
  height: 38px;

  color: #a9a9a9;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.15em;

  background-color: #f2f4f5;
  border: 1px solid #f2f4f5;
}

.submit-button {
  display: block;
  margin: 19px 0 0;
  padding: 3px 0;
  width: 130px;
  text-align: center;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  background: none;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 28px 100px;

  background-color: #f2f4f5;
}

.main-footer div {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.15em;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 350px;
  height: 34px;

  list-style: none;
}

.social-button {
  display: block;

  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.social-fb {
  width: 11px;
  height: 23px;

  background-position: -68px 0;
}

.social-tw {
  width: 23px;
  height: 18px;

  background-position: -182px 0;
}

.social-lin {
  width: 23px;
  height: 21px;

  background-position: -68px -38px;
}

.social-yt {
  width: 23px;
  height: 16px;

  background-position: -193px -39px;
}

.social-ggl {
  width: 28px;
  height: 17px;

  background-position: -108px 0;
}

.social-pin {
  width: 17px;
  height: 23px;

  background-position: -136px -37px;
}

.social-ig {
  width: 24px;
  height: 24px;

  background-position: 0 -38px;
}

.social-email {
  width: 23px;
  height: 17px;

  background-position: 0 0;
}
