body {
  margin: 0 auto;
  padding: 0;
  width: 1600px;
  position: relative;

  font-family: "Raleway", "Tahoma", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 200px;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background: none;
}

.main-logo {
  display: block;
  margin: 0;
  padding: 25px 0;
  width: 200px;
  height: 30px;
  text-align: center;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #000000;
}

.main-logo:hover {
  cursor: pointer;
}

.menu-button {
  display: block;
  margin: 0;
  margin-top: -27px;
  padding: 0;
  width: 50px;
  height: 28px;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}

.menu-button:hover {
  opacity: 0.5;
}

.menu-button:active {
  opacity: 0.2;
}

.modal-menu {
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 168px;
  min-height: 832px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: rgba(13, 16, 19, 0.96);
}

.modal-show {
  display: block;
}

.modal-menu ul {
  margin: 0;
  margin-left: 298px;
  padding: 0;

  list-style: none;
}

.modal-menu a {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 50px;
  line-height: 80px;
  font-weight: 700;
  color: #626262;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.modal-menu a:hover,
.modal-menu a:focus {
  color: #ffffff;

  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));

  background: -webkit-linear-gradient(left, #ffffff, #ffffff 100%);

  background: -o-linear-gradient(left, #ffffff, #ffffff 100%);

  background: linear-gradient(to right, #ffffff, #ffffff 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 3px 3px;
}

.modal-menu a:active {
  color: #ffffff;

  background: none;
}

.close-button {
  position: absolute;
  right: 189px;
  top: 49px;
  padding-top: 50px;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background: none;
  border: none;
}

.close-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.close-button:active {
  cursor: pointer;
  opacity: 0.2;
}

.close-button::before, .close-button::after {
  content: "";

  position: absolute;
  left: 33px;
  bottom: 21px;
  width: 4px;
  height: 50px;

  background-color: #ffffff;
}

.close-button::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-button::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.big-slider {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 1600px;
  height: 1000px;
  z-index: 0;
  text-align: center;
  overflow: hidden;

  background-color: #acb0b5;
}

.big-slider ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide > ul > li {
    display: none;
}

.slide > ul > li:first-child {
    display: block;
}

.about {
  margin: 0;
  margin-bottom: 93px;
  padding: 0;
  padding-top: 74px;
}

.about p {
  margin-left: auto;
  margin-right: auto;
  width: 965px;
  text-align: center;
}

.about-title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 60px;
  line-height: 72px;
  font-weight: 200;
}

.about-title b {
  font-weight: 700;
}

.about-conditions {
  margin-top: 31px;

  line-height: 24px;
  font-weight: 600;
}

.about-conditions:after {
  content: "";

  display: block;
  width: 80px;
  height: 2px;
  margin: 42px auto 0;

  background-color: #000000;
}

.about-text {
  margin-top: 56px;
  padding-left: 45px;
}

.about-text:last-of-type {
  margin-top: 30px;
}

.small-slider {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 100px;
  width: 1500px;
  height: 650px;

  background-color: #ffe9e2;
}

.small-slider .slider-quote {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1600px;

  background-color: #ffe9e2;
}

.small-slider .quote {
  margin: 0;
  padding: 0;
  padding-left: 100px;
  padding-top: 130px;
  width: 702px;

  font-size: 36px;
  line-height: 48px;
}

.small-slider blockquote {
  margin: 0;
  padding: 0;
  width: 580px;

  font-weight: 700;
}

.small-slider .source {
  margin: 0;
  padding: 0;
  margin-top: 48px;

  font-weight: 300;
}

.slider__check {
	position: absolute;
  clip: rect(0 0 0 0);
	overflow: hidden;
}

.slider-quote {
	position: absolute;
	top: 0;
	left: 0;
}

.slider__label {
  position: relative;
	overflow: hidden;
	display: inline-block;
  margin-top: 560px;
  margin-right: 4px;
	width: 9px;
	height: 9px;
  line-height: 1em;
	background: none;
  border: 1px solid #949088;
	border-radius: 50%;
	text-indent: -9999px;
  z-index: 2;
}

/* Display */
.slider-quote {
  display: none;
}

.slider__check:checked + .slider__label + .slider-quote {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* Current */
.slider__check:checked + .slider__label {
	background: #949088;
}

.reasons {
  margin: 0;
  padding: 125px 100px 140px;
}

.reasons h2 {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.reasons h2::after {
  content: "";

  display: block;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  width: 80px;
  height: 2px;

  background-color: #000000;
}

.reasons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 98px;
  padding: 0;

  list-style: none;
}

.reasons li {
  margin: 0;
  margin-top: -1px;
  padding: 40px 50px 0;
  width: 598px;
  height: 247px;

  border: 1px solid #eae9e7;
}

.reasons li:first-of-type,
.reasons li:nth-of-type(2) {
  margin-top: 0;
}

.reasons li:nth-of-type(2n) {
  margin-left: -1px;
  padding-left: 67px;
  width: 582px;
}

.reasons h3 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons blockquote {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.reasons .source {
  margin: 0;
  margin-top: 30px;
  padding: 0;

  font-weight: 400;
  font-style: italic;
}

.reasons-button {
  display: block;
  margin: 63px auto 0;
  padding: 13px 0;
  width: 276px;
  text-align: center;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  border: 2px solid #000000;
  border-radius: 4px;
}

.reasons-button:hover,
.reasons-button:focus {
  opacity: 0.5;
}

.reasons-button:active {
  opacity: 0.2;
}

.quote-of-the-day {
  margin: 0;
  padding: 0;
  padding-top: 192px;
  width: 1600px;
  height: 468px;

  color: #ffffff;

  background-color: #464557;
  background-image: url("../img/quote-of-the-day.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.quote-of-the-day p {
  margin: 0 auto;
  padding: 0;
  width: 850px;
  text-align: center;

  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}

.quote-of-the-day .source {
  margin-top: 64px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.quote-of-the-day a {
  color: #ffffff;
  text-decoration: underline;
}

.quote-of-the-day a:hover,
.quote-of-the-day a:focus {
  text-decoration: none;
}

.quote-of-the-day a:active {
  text-decoration: none;
  opacity: 0.5;
}

.posters {
  margin: 0;
  padding: 96px 100px 120px;

  background-color: #f2f4f5;

}

.posters h2 {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-transform: capitalize;
}

.posters h2::after {
  content: "";

  display: block;
  margin: 0;
  margin-top: 33px;
  padding: 0;
  width: 80px;
  height: 2px;

  background-color: #000000;
}

.posters-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 99px;
  padding: 0;
}

.small-posters-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 740px;
}

.poster-big {
  margin-right: 100px;
  width: 560px;
  height: 760px;
}

.poster-medium {
  margin-bottom: 50px;
  width: 740px;
  height: 370px;
}

.poster-small {
  width: 330px;
  height: 340px;
}

.posters .hover-elements {
  display: none;
  margin: 0;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.poster-big .hover-elements {
  margin-top: -64px;
  padding: 0 36px;
}

.poster-medium .hover-elements {
  margin-top: -83px;
  padding: 0 26px 0 46px;
}

.poster-small .hover-elements {
  margin-top: -50px;
  padding: 0 13px 0 16px;
}

.hover-elements a {
  color: #ffffff;
}

.hover-elements a:hover,
.hover-elements a:focus {
  opacity: 0.5;
}

.hover-elements a:active {
  opacity: 0.2;
}

.hover-elements .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;

  font-size: 15px;
}

.hover-elements .share::after {
  content: "";

  display: block;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 20px;

  background-image: url("../img/sprites.png");
  background-position: -245px 0;
  background-repeat: no-repeat;
}

.poster:hover {
  -webkit-box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.43);
          box-shadow: 0 0 100px 2px rgba(0, 0, 0, 0.43);
}

.poster:hover .hover-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.posters-button {
  display: block;
  margin: 100px auto 0;
  padding: 13px 0;
  width: 276px;
  text-align: center;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  border: 2px solid #000000;
  border-radius: 4px;
}

.posters-button:hover,
.posters-button:focus {
  opacity: 0.5;
}

.posters-button:active {
  opacity: 0.2;
}

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 115px 100px 81px;

  font-family: "Montserrat", "Tahoma", sans-serif;
}

.bottom-nav h3 {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.bottom-nav ul {
  margin: 0;
  margin-top: 38px;
  padding: 0;

  list-style: none;
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.bottom-nav li {
  margin: 0;
  padding: 0;
}

.bottom-nav a {
  color: #000000;
}

.bottom-nav a:hover,
.bottom-nav a:focus {
  text-decoration: underline;
}

.bottom-nav a:active {
  opacity: 0.5;
}

.bottom-nav p,
.bottom-nav label,
.bottom-nav input[type="email"] {
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0.15em;
}

.contact p {
  margin: 0;
  margin-top: 38px;
  padding: 0;
}

.contact p:last-child {
  margin-top: 34px;
}

.subscribe p {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  line-height: 19px;
}

.bottom-nav input[type="email"] {
  margin: 0;
  margin-top: 34px;
  padding: 0;
  padding-left: 18px;
  width: 320px;
  height: 38px;

  color: #a9a9a9;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.15em;

  background-color: #f2f4f5;
  border: 1px solid #f2f4f5;
}

.bottom-nav input[type="email"]:focus {
  background-color: #ffffff;
}

.submit-button {
  display: block;
  margin: 19px 0 0;
  padding: 3px 0;
  width: 130px;
  text-align: center;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  background: none;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  opacity: 0.5;
}

.submit-button:active {
  opacity: 0.2;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 28px 100px;

  background-color: #f2f4f5;
}

.main-footer div {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.15em;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 350px;
  height: 34px;

  list-style: none;
}

.social-button {
  display: block;

  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.social-button:active {
  opacity: 0.5;
}

.social-fb {
  width: 11px;
  height: 23px;

  background-position: -68px 0;
}

.social-tw {
  width: 23px;
  height: 18px;

  background-position: -182px 0;
}

.social-lin {
  width: 23px;
  height: 21px;

  background-position: -68px -38px;
}

.social-yt {
  width: 23px;
  height: 16px;

  background-position: -193px -39px;
}

.social-ggl {
  width: 28px;
  height: 17px;

  background-position: -108px 0;
}

.social-pin {
  width: 17px;
  height: 23px;

  background-position: -136px -37px;
}

.social-ig {
  width: 24px;
  height: 24px;

  background-position: 0 -38px;
}

.social-email {
  width: 23px;
  height: 17px;

  background-position: 0 0;
}

.social-fb:hover,
.social-fb:focus {
  background-position: -88px 0;
}

.social-tw:hover,
.social-tw:focus {
  background-position: -213px 0;
}

.social-lin:hover,
.social-lin:focus {
  background-position: -102px -38px;
}

.social-yt:hover,
.social-yt:focus {
  background-position: -228px -39px;
}

.social-ggl:hover,
.social-ggl:focus {
  background-position: -144px 0;
}

.social-pin:hover,
.social-pin:focus {
  background-position: -162px -38px;
}

.social-ig:hover,
.social-ig:focus {
  background-position: -34px -38px;
}

.social-email:hover,
.social-email:focus {
  background-position: -35px 0;
}

.glider {
    overflow: hidden;
    position: relative;
    max-width: 1600px;
}

.glider-list {
    position: relative;
}

.glider-ltr .glider-list {
    left: 0;
}

.glider-rtl .glider-list {
    right: 0;
}

.glider-ltr.ease .glider-list {
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.glider-rtl.ease .glider-list {
    -webkit-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease;
}

.glider .glider-item {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.glider-rtl .glider-item {
    float: right;
}

.glider-ltr .glider-item {
    float: left;
}

.glider-control-back, .glider-control-next {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 2em;
    padding: 0.5em;
}

.glider-controls-ltr .glider-control-back {
    position: absolute;
    left: 0;
}

.glider-controls-ltr .glider-control-next {
    position: absolute;
    right: 0;
}

.glider-controls-rtl .glider-control-back {
       position: absolute;
    right: 0;
}

.glider-controls-rtl .glider-control-next {
    position: absolute;
    left: 0;
}

.glider-top {
    top: 0;
}

.glider-middle {
    top: 40%;
}

.glider-bottom {
    bottom: 100px;
}

.glider-control-link {
    padding: 0;
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
}

.glider-control-link li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 0 12px;
    color: #ffffff;
}

.glider-circle-icon {
    display: inline-block;
    background-color: #000000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    -webkit-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.glider-link.selected .glider-circle-icon {
    background-color: #ffffff;
}
